<%= simple_form_for([@exam, @grade]) do |form| %>
  <% if grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if ! @grade.persisted? %>
  <%= form.association :student,
      collection: exam.students_without_grades,
      prompt: "Elija un estudiante" %>
  <% end %>
     


  
    <%= form.input :grade,
        label: 'nota' %>
  
  
  <div class="actions">
    <%= form.submit @grade.persisted? ? 'Modificar' : 'Crear',
        class: 'btn btn-success' %>

    <%= link_to 'Cancelar',
        exam_grades_path(@exam),
        class: 'btn btn-primary'%>
  </div>
<% end %>
