<%= simple_form_for([@exam, @grade]) do |form| %>
  <% if grade.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p> <strong> numero de errores: <%= grade.errors.count %></strong></p>

      
      <% grade.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <% if ! @grade.persisted? %>
  <%= form.association :student,
      collection: exam.students_without_grades,
      prompt: "Elija un estudiante" %>
  <% end %>
     


  
    <%= form.input :grade,
        label: 'nota' %>
  
  
  <div class="actions">
    <%= form.submit @grade.persisted? ? 'Modificar' : 'Crear',
        class: 'btn btn-success' %>

    <%= link_to 'Cancelar',
        exam_grades_path(@exam),
        class: 'btn btn-primary'%>
  </div>
<% end %>
