<%= simple_form_for([@course, @student]) do |form| %>

<%= form.input :name, value: 'Nombre' %>

<%= form.input :last_name, value: 'Apellido' %>

<%= form.input :dni, value: 'DNI' %>

<%= form.input :email, value: 'email' %>

<%= form.input :student_number, value: 'numero de estudiante' %>

<div class="actions">
  <%= form.submit student.persisted? ? 'Modificar' : 'Crear',
      class: 'btn btn-success'%>
  <%= link_to 'Volver',
      course_students_path(student.persisted? ? student.course : params[:course_id]),
      class: 'btn btn-primary' %>
</div>
<% end %>
