<%= bootstrap_form_for(@student) do |form| %>

    <%= form.text_field :name, id: :student_name %>

    <%= form.text_field :last_name, id: :student_last_name %>

    <%= form.number_field :dni, id: :student_dni %>

    <%= form.number_field :student_number, id: :student_student_number %>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>
