<h1>Detalles de <%= @student.name %></h1>
<p>
<strong>Nombre:</strong>
<%= @student.name %>
</p>

<p>
<strong>Apellido:</strong>
<%= @student.last_name %>
</p>

<p>
<strong>Dni:</strong>
<%= @student.dni %>
</p>

<p>
<strong>Numero de estudiante</strong>
<%= @student.student_number %>
</p>

<p>
<strong>email</strong>
<%= @student.email %>
</p>

<%= link_to 'Editar',
    edit_course_student_path(@student.course, @student),
    class: 'btn btn-success' %>

<%= link_to 'Volver',
    course_students_path(@student.course),
    class: 'btn btn-primary' %>
