<%= simple_form_for @course do |form| %>
  <% if course.errors.any? %>
    <div id="alert alert-danger">
        <% course.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
    </div>
  <% end %>

  <% if @info %>
  <div class="alert alert-info">
    <p>
      <%= @info %>
    </p>
  </div>
  <% end %>
  <%= form.input :year,
      label: 'Año',
      input_html: {id: :course_year},
      wrapper_html: {class: 'form-group'} %>

  <div class="actions">
  <%= form.submit @action,
      class: 'btn btn-success',
      wrapper_html: {class: 'form-group'} %>
  <%= link_to 'Volver',
      courses_path,
      class: 'btn btn-primary' %>
  </div>
<% end %>
