<h1>Cursos</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>año</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
    <tr>
      <td><%= course.year %></td>
      
      <td colspan="3">
        <%= link_to 'Ver', course, class: 'btn btn-success ' %>
        <%= link_to 'Editar', edit_course_path(course), class: 'btn btn-primary ' %>
        <%= link_to 'Eliminar',
            course,
            method: :delete,
            class: 'btn btn-danger ' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear curso nuevo', new_course_path, class: 'btn btn-success' %>
