
<%= link_to 'Estudiantes',
    course_students_path(@course),
    class: 'btn btn-primary' %>
<%= link_to 'Evaluaciones',
    course_exams_path(@course),
    class: 'btn btn-primary' %>

<h1>Cursada <%= @course.year %> </h1>
<% if @students.any? %>
<table class="table table-condensed" >
  <thead>
    <tr>
      <th>
        Estudiante
      </th>
      <% @exams.each do |exam| %>
      <th><%= exam.title %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
    <tr>
      <td> <%= student.last_name %>, <%= student.name %></td>
      <% @exams.each do |exam| %>
      <td>
        <%= student.grade_for exam %>
      </td>
      <% end %>
    </tr>
    <% end %>
    <!-- estadisticas -->
    <tr>
      <td>
        Cantidad de aprobados
      </td>
      <% @exams.each do |exam| %>
      <td>
        <%= exam.approved_students %>
      </td>
      <% end %>
    </tr>
        <tr>
      <td>
        Cantidad de desaprobados
      </td>
      <% @exams.each do |exam| %>
      <td>
        <%= exam.unapproved_students %>
      </td>
      <% end %>
        </tr>
            <tr>
      <td>
        Porcentaje de aprobacion
      </td>
      <% @exams.each do |exam| %>
      <td>
        <%= exam.approved_rate %>
      </td>
      <% end %>
    </tr>


  </tbody>
</table>

<% else %>
<h3> Esta cursada no tiene estudiantes aun </h3>
<% end %>

<%= link_to 'Editar', edit_course_path(@course), class: 'btn btn-success' %>
<%= link_to 'Volver', courses_path, class: 'btn btn-primary' %>

