
<%= simple_form_for [@course, @exam] do |form| %>

    <%= form.input :title,
        label: 'Titulo',
        input_html: {id: :exam_title},
        wrapper_html: {class: 'form-group'} %>

    <%= form.input :description,
        label: 'Descripcion',
        input_html: {id: :exam_description},
        wrapper_html: {class: 'form-group'} %>

    <%= form.input :min_grade,
        label: 'Nota de aprobacion',
        input_html: {id: :exam_min_grade},
        wrapper_html: {class: 'form-group'} %>


    <%= form.input :exam_date,
        label: 'Fecha ',
        input_html: {id: :exam_exam_date},
        wrapper_html: {class: 'form-group'} %>

        
  <div class="actions">
  <%= form.submit @action,
      class: 'btn btn-success',
      wrapper_html: {class: 'form-group'} %>

  <%= link_to 'Volver',
      :back,
      class: 'btn btn-primary' %>
  </div>
  
<% end %>
