<%= simple_form_for @exam do |form| %>
  <% if exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :exam_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :exam_description %>
  </div>

  <div class="field">
    <%= form.label :min_grade %>
    <%= form.number_field :min_grade, id: :exam_min_grade %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
