<%= link_to 'Estudiantes',
    course_students_path(@course),
    class: 'btn btn-primary' %>
<%= link_to 'Curso',
    course_path(@course),
    class: 'btn btn-primary' %>

<h1>Examenes de la cursada <%= @course %></h1>
<% if @exams.any? %>
<table class="table table-stripped">
  <thead>
    <tr>
      <th >Titulo</th>
      <th class="text-center">Descripcion</th>
      <th class="text-center">Nota de Aprobacion</th>
      <th colspan="3"></th>
      <th class="text-center" colspan="2"> Notas </th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td ><%= exam.title %></td>
        <td class="text-center"><%= exam.description %></td>
        <td class="text-center"><%= exam.min_grade %></td>
        <td class="text-center">
          <%= link_to 'ver',
              exam_path(exam),
              class: 'btn btn-success' %>
        </td>
        <td class="text-center">
          <%= link_to 'Editar',
              edit_exam_path(exam),
              class: 'btn btn-primary' %>
        </td>
        <td class="text-center"><%= link_to 'Eliminar',
                exam_path(exam),
                method: :delete,
                class: 'btn btn-danger',
                data: { confirm: 'Are you sure?' } %>
        </td>
        <td class="text-center">
          <%= link_to 'Listado',
              exam_grades_path(exam),
              class: 'btn btn-success' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h3> Aun no hay evaluaciones cargadas para el curso </h3>
<% end %>
<br>

<%= link_to 'Agregar Examen',
    new_course_exam_path(@course.id),
    class: 'btn btn-success'
    %>
