<p id="notice"><%= notice %></p>

<h1>Examenes de la cursada <%= @course %></h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th >Titulo</th>
      <th class="text-center">Descripcion</th>
      <th class="text-center">Nota de Aprobacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td ><%= exam.title %></td>
        <td class="text-center"><%= exam.description %></td>
        <td class="text-center"><%= exam.min_grade %></td>
        <td class="text-center">
          <%= link_to 'ver',
              course_exams_path(exam),
              class: 'btn btn-success' %>
        </td>
        <td class="text-center">
          <%= link_to 'Editar',
              edit_course_path(exam.course, exam),
              class: 'btn btn-primary' %>
        </td>
        <td class="text-center"><%= link_to 'Eliminar',
                url_for([exam.course, exam]),
                method: :delete,
                class: 'btn btn-danger',
                data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Examen',
    new_course_exam_path(@course.id),
    class: 'btn btn-success'
    %>
<%= link_to 'Volver',
    :back,
    class: 'btn btn-primary' %>
