<p id="notice"><%= notice %></p>

<p>
<strong>Title:</strong>
<%= @exam.title %>
</p>

<p>
<strong>Description:</strong>
<%= @exam.description %>
</p>

<p>
<strong>Min grade:</strong>
<%= @exam.min_grade %>
</p>

<%= link_to 'Editar',
    edit_exam_path(@exam),
    class: 'btn btn-success' %>

<%= link_to 'Volver', course_exams_path(@exam.course), class: 'btn btn-primary' %>
