<p id="notice"><%= notice %></p>

<p>
<strong>Titulo:</strong>
<%= @exam.title %>
</p>

<p>
<strong>Descripcion:</strong>
<%= @exam.description %>
</p>

<p>
<strong>Nota Minima:</strong>
<%= @exam.min_grade %>
</p>

<%= link_to 'editar',
    edit_exam_path(@exam),
    class: 'btn btn-success' %>

<%= link_to 'volver', course_exams_path(@exam.course), class: 'btn btn-primary' %>
